@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
/*-----------------------default setup---------------------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato',sans-serif;
    background-image: url("./Images/bg.jpg");
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*--------------------------common classes-------------------------------*/
.br
{
    border:1px solid red;
}
.cbr{
    border: solid cyan 1px;
}

.to-upper-case
{
    text-transform: uppercase;
}
.d-inline-block{
    display: inline-block;
}
/*-----------------------------------------------------------------------*/
.main-container
{
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
}
.login
{
    height: 28px;
    display: inline-block;
    position:fixed; margin-left:755px;
    background-color:rgb(77,100,144);
    color: white;
    font-size: 12px;
    font-weight: 100;
    padding: 5px 10px;
    
}
.login-list
{
    display: flex;
    
}
.login-list li{
    padding-right: 2px;
}
.login-list li::before
{
    content: "| ";
    color: rgb(111, 109, 241);
}
.login-list li:first-child::before { content: ''; }
/*-----------------------------------------------------------------------*/
.navbar
{
    height: 50px;
    color: rgb(111, 109, 241);
    background-color:rgb(22,43,70);
    opacity: 0.8;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
}

.logo
{
    position: relative;
    bottom: 40px;
    height: 140px;
}
.nav-links
{
    display: flex;
}
.nav-links li
{
    padding: 13px 10px;
}
.nav-links li::before
{
    content: "|";
    padding-right: 10px;
    color: white;
}
.nav-links li:first-child::before { content: ''; }
.title-of-page
{
    background-color: rgb(22,43,70,0.5);
    padding: 40px 40px;
}
.title-content
{
    color: rgb(254,251,246);
    word-spacing: 30px;
    letter-spacing: 10px;
}
.main-content
{
    background-color: rgb(22,43,70,0.8);
    display: flex;
    padding: 30px;
}
.main-content > div :not(.div3)
{
    margin-right: 35px;
} 
.content p{
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
.link a{
    text-decoration: underline;
    color: rgb(111, 109, 241);
}
.link a::after
{
    content: " >";
    color:rgb(111, 109, 241);
}
.footer
{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(111, 109, 241);
    color: white;
    font-size: 10px;
}

.footer-list ul{
    text-decoration: underline;
    display: flex;
}
.footer-list li{
    padding-right: 10px;
}
.footer-list li::before
{
    content: "|";
    padding-right: 10px;
    color: white;
}
.footer-list li:first-child::before { content: ''; }